<h1>Frequently Asked Question:</h1>
<h3>Q: Do the optimizers actually work?</h3>
<p>A: I don't know. While I tried my best, neither my math nor programing skills are quite up to par. But <em>you</em> can <%= link_to("help", :action => "foundation")%>.</p>