
	<body>
		<h1> Make a new banana tracker! </h1> 
		
		
		
	<% form_for @banana, :url => { :action => "create_tracker" } do |f| %>
		<%= f.error_messages %>
	    Number of bananas <%= f.text_field :number_of_bananas %> <br />
	    When did you buy it? <%= f.date_select :when_bought %> <br />
		*default is today <br />
	    <%= f.submit "Submit" %> <br />
	<% end %>
	</body>
